* {
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #0f1111;
    height: 60px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body {
    background-color: white;
}

#linktext {
    color: #f08804;
    text-decoration: none;
    font-size: 25px;
}

.text {
    color: white;   
}

#searchbutton {
    background-color: #f08804;
    color: white;
    justify-self: center;
}



#div1 {
    background-color: rgba(255,0,0,0.5);
}

#div2 {
    background-color: rgba(0,255,0,0.5);

}

#div3 {
    background-color: rgba(0,0,255,0.5);

}

.contentbox {
    display: inline-block;
    border: 2px solid red;
    height: 100px;
    width: 100px;
}

#content {
    height: 100vh;
    border: none;
}

footer {
    color: white;
    text-align: center;
    background-color: #0f1111;

}