* {
    margin: 0;
    padding: 0;
    border: border-box;
    font-family: Arial;
    
}

body {
    background-color: #e3e6e6;
    
}

.navbar {
    height: 60px;
    background-color: #131921;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-logo {
    height: 50px;
    width: 120px;
}

.logo {
    height: 50px;
    width: 100%;
    background-image: url("logo1.png");
    background-size: cover;
}

.border {
    border: 1.5px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/* Second box */


.address-icon {
    display: flex;
    align-items: center;
}

.addressfirst {
    font-size: 0.85rem;
    color: #cccccc;
    margin-left: 15px;
}

.addresssecond {
    font-size: 1rem;
    color: #ffffff;
    margin-left: 3px;
}

/* third box */
.nav-search {
    display: flex;
    height: 40px;
    width: 50%;
    justify-content: center;
    border-radius: 5px;
}

.selectfrom {
    width: 55px;
    background-color: #e6e6e6;
    color: #0f1111;
    text-align: center;
    border:none;
    border-right: 2px solid transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius:  5px;
    color: #5e5e5e;
}

.selectfrom:hover {
    background-color: #d4d4d4;
    color: black;
}

.options {
    color: black;
    text-align: left;
    background-color: white;
}

.searchbox {
    width: 100%;
    font-size: 1rem;
    border:none;
    padding-left: 7px;
    outline: none;
}

.searchicon {
    width: 45px;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #febd68;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: #0f1111;
}

.searchicon:hover{
    background-color: #f3a847;
}

.nav-search:focus-within {
    border: 3px solid orange;
    border-radius: 8px;
    outline:none;
}

/* Flag */
.nav-flag {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    margin-top: 10px;
}

.flag {
    width: 21.6px;
    height: 16.2px;
    background-image: url(Flag-United-States-of-America.webp);
    background-size: cover;
}

.weight-text {
    font-weight: 700;
    font-size: 14px;
}

/* Accounts */
.nav-cart {
    display: flex;
    gap: 3px;
    justify-content: center;
    align-items: center;
}

.normaltext {
    font-size: 12px;
}

/*Cart Area*/
.carticon {
    font-size: 1.5rem;
}

.carttext {
    margin-top: 10px;
}

/**Panel**/
.panel {
    display: flex;
    height: 40px;
    background-color: #232f3e;
    justify-content: left;
    align-items: center;
    color: white;
    gap: 9px;

}

/*Menu*/
.menuall {
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 17px;
}

.menutext {
    font-size: 14px;
    font-weight: 700;
    padding-left: 5px;
}

.iconmenu {
    height: 14px;
    width: 17px;
    font-size: 17px;
    margin-bottom: 3px;
}

.panel-text {
    height: 39px;
    display: flex;
    align-items: center;
}




.panel-ops {
    height: 39px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-ops a {
    font-size: 14px;
    margin-left: 7px;
    margin-right: 7px;
    text-decoration: none;
    color: white;
}

/** Hero Section **/
.hero-section {
    height: 550px;
    background-image:linear-gradient(to bottom, rgba(252, 225, 236, 0) 60%, #e3e6e6 100%),
    url("bannerbeautyproducts.jpg");
    background-size: cover;
    background-position: center;
    
    border: none;
}

/**Content Area**/
.contentarea {
    margin-top: -300px;
    z-index: 10;
}
.boxes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.box {
    width: 28.5%;
    height: 370px;
    background-color: white;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
}

.contentarea2 {
    margin-top: 20px;

}

.recbox {
    width: 94.35%;
    height: 250px;
    background-color: white;
    padding-top: 25px;
    padding-left: 20px;
    padding-bottom: 25px;
    padding-right: 20px;
}

/*Content in boxes*/

.headingbox {
    font-size: 0.9rem; 
}

.box-link {
    text-decoration: none;
    font-size: 0.8rem;
    color: #2162a1;
}

.box-link:hover {
    color: #0c3353;
}

.boximage {
    margin-top: 15px;
    margin-bottom: 20px;
    height: 80%;
}

.gridlayout {
    margin-top: 10px;
    margin-bottom: 20px;
    height: 82%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
}

.imagegrid {
    height: 40%;
    width: 45%;
}

/* Content area 2*/
.imagekitchengrid1 {
    width: 100%;
    height: 50%;
}

.imagekitchengrid {
    width: 32%;
    height: 33%;
}

.gl1 {
    height: 75%;
    gap: 6px;
}

.recboxitems {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding-left: 0;
    padding-right: 0;
}

.car1 {
    background-image: url(car1.jpg);
    background-size: cover;
    width: 256px;
    height: 200px;
}

.car2 {
    background-image: url(car2.jpg);
    background-size: cover;
    width: 270px;
    height: 148px;
}

.car3 {
    background-image: url(car3.jpg);
    background-size: cover;
    width: 270px;
    height: 156px;
}

.car4 {
    background-image: url(car4.jpg);
    background-size: cover;
    width: 173px;
    height: 200px;
}

.signinframe {
    margin-top: 20px;
    height: 232px;
    background-color: #ffffff;

}

.contentframe {
    position: relative;
    top: 50px;    
    height: 158px;
    width: auto;
    border: 1px solid #DDD;
    border-radius: 5px;

}

.signinbutton {
    width: 223px;
    height: 35px;
    text-align: center;
    background-color: #ffd814;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.signinbutton:hover {
    background-color: #ffce12;
}

.signhead {
    margin-top: 50px;
    text-align: center;
    font-weight: 700;
}

.signbutton {

    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 5px;
    line-height: 32px;

}

.signtext {
    text-align: center;
    font-size: 11px;
}

.backtotop {
    height: 52px;
    background-color: #37475a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.backtotop:hover {
    background-color: #485769;
}

.textbacktotop {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
}

.backtotopclick {
    text-decoration: none;
}

/*Footer Options*/

.bottomoptions {
    background-color: #232f3e;
    width: 100%;
    height: 507px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    white-space: normal;
    
}

.optionsurl {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.optionsurl a {
    color: #dddddd;
    text-decoration: none;
    font-size: 0.89rem;

}

.optionsurl a:hover {
    text-decoration: underline;
}

.boset {
    margin-top: 50px;
}

.bohead {
    margin: 0 0 14px 0;
    color: #dddddd;
    font-size: 16px;
    font-weight: 700;
}

.boset1 {
    width: 10%;
}

.boset2 {
    width: 14%;
}

.boset4 {
    width: 12%;
}

.footersection {
    height: 108px;
    background-color: #232f3e;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footerlogo {
    cursor: pointer;
    margin-top: 25px;
    background-image: url(logo1.png);
    background-size: cover;
    width: 90px;
    height: 35px;
}

.footerb1 {
    cursor: pointer;
    margin-left: 80px;
    font-size: 0.85rem;
    margin-top: 26px;
    width: 100px;
    height: 22px;
    color: #cccccc;
    border: 1px solid #8d9096;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;
}

.footerb2 {
    cursor: pointer;
    font-size: 0.85rem;
    margin-top: 26px;
    width: 120px;
    height: 22px;
    color: #cccccc;
    border: 1px solid #8d9096;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-items: center;

}

.imagefooter {
    width: 18px;
    height: 12px;
}

.footer {
    padding-left: 7%;
    padding-right: 7%;
    height: 465px;
    background-color: #131a22;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    white-space: normal;
    gap: 40px;
}

/*to add basic responsiveness*/
@media (max-width: 600px) {
    body {
      transform: scale(0.3);
      transform-origin: top left; 
      width: 350vw; 
      height: 100vh;
      overflow-x: hidden;
    }
  }

.optionsfooter {
    gap: 30px;
}

.fohead {
    color: #dddddd;
    font-size: 12.7px;
    font-weight: 500;
    line-height: 1.1;
    cursor: pointer;
}

.fohead:hover {
    text-decoration: underline;
}


.foset {
    width: 9%;
    line-height: 0.8;
}

.optionsfooter a {
    color: #999999;

}

.lastline {
    width: 100%;
    height: 10px;
    display: flex;
    justify-content: center;
    gap: 12px;
}

.lastline a {
    text-decoration: none;
}

.tickcrossimage {
    width: 30px;
    height: 15px;
    margin-left: -5px;
}

.lastline1 {
    margin-top: -40px;
}