body {
  font-family: "Inter", sans-serif;
  background-color: black;
}

h1,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

header {
  background-color: black;
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 1.9rem;
}

.headerBox {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 80vw;
  margin-left: 10vw;
  gap: 15px;
}

.headerButtons {
  position: absolute;
  display: flex;
  right: 0;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.searchValue {
  padding: 10px;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  resize: none;
  font-size: 1.2rem;
  line-height: 1.5;
}

.headerBox i {
  font-size: 2.5rem;
  color: white;
  cursor: pointer;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  gap: 20px;
  width: 80vw;
  position: fixed;
  left: 10vw;
  margin-top: 10px;
}

.side-bar {
  width: 20%;
  border: 6px solid white;
  height: 100%;
  border-radius: 10px;
  background-color: #03001c;
  display: flex;
  flex-direction: column;
}

.headingSideBar {
  height: 10%;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.pasteList {
  padding: 10px;
  height: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}

.pasteListSidebar {
  overflow-x: hidden;
  background-color: black;
  padding: 3px;
  color: white;
  height: auto;
  width: 98%;
  border: 2px solid white;
  border-radius: 4px;
  flex-shrink: 0;
  cursor: pointer;
}

.pasteCards {
  width: 80%;
  border: 6px solid white;
  height: 100%;
  background-color: #03001c;

  border-radius: 10px;
}

.addButton:hover {
  transform: scale(1.1);
  transform: translateY(-3px);
}

.searchButton:hover {
  transform: scale(1.1);
  transform: translateY(-3px);
}

.notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.pasteCards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
  padding-left: 30px;
  padding-top: 20px;
  overflow-y: auto;
}

.note-card {
  background-color: black;
  padding: 15px;
  height: 150px;
  border-radius: 10px;

  border: 1px solid #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 40%;
  overflow-y: auto;
  max-height: 150px;
  max-width: 30%;
  width: 100%;
}

.note-title {
  font-size: 1.1rem;
  color: white;
  margin-bottom: 10px;
}

.note-content {
  font-size: 0.9rem;
  margin-bottom: 15px;
  color: #ccc;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timestamp {
  font-size: 0.7rem;
  color: #888;
}

.note-actions button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #ddd;
}

.note-actions button:hover {
  color: #fff;
}
